*{
    margin: 0%;
    padding: 0%;
}

/* .container_ul{
    margin: 30px auto;
}

.container_li{
    list-style: none;
    width: 100%;
    float: left;
}

.sub_ul>li{
    list-style: none;
    float: left;
    width: 50px;
    height: 30px;
    border: 1px solid black;
} */
.tableArea{
    width: 80%;
    height: 2000px;
    overflow: scroll;
    margin: 50px auto;
    float: left;
}

table{
    border-collapse: collapse;
    width: 6000px;

}

table td{
    text-align: center;
}

table input{
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    text-align: center;
}

.buttonArea{
    float: left;
    width: 15%;
    margin: 50px 0 0 30px;
}

.btn{
    width: 100px;
    height: 40px;
    margin-bottom: 20px;
}

#boldBtn{
    font-weight: bold;
}

#italicBtn{
    font-style: italic;
}

#underlineBtn{
    text-decoration: underline;
}